<h1>Lookup Food Here</h1>

<form>
  <div class="form-group">
    <label for="food">Search food Nutrition:</label>
    {{input value=food id="food"}}
</div>
<button type="button" {{action 'foodLookup'}}>Search</button>

</form>
