@import 'materialize';
@import 'ember-cli-materialize';


.lookup {
  width: 40%;
  margin: 0 auto;
}

.nav-wrapper {

}

h1 {
  font-size: 30px;
  text-shadow: 3px 3px 3px gray;
}

api =
3f092e1ba6df228f1d81ef8c1149446c

id = 2def66bd
