
<p>
  Here is a list of how many times the phrase "unites States" appears in the congressional record on each day in the most recent congress on a specific date.
</p>

<ul>
  {{#each model as |date|}}
  <li>
    <!-- <h3>results</h3> -->
    {{date.count}} <br> {{date.day}}
  </li>
  {{/each}}
</ul>
